<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <aws region="eu-west-1" profileName="development" profilesLocation="C:\\Dev\\AwsCredentials"/>
  
</configuration>